*.asv
set_data_parameter.m
actc_log.txt
log/log.txt
test.mat
examples/results/*
examples/test_images/*
Executables/*
ACCEPT_resources/*
data/results/*
*.prj

input_output/LatestSettings.mat
misc/saved_gates/*.mat
LatestSettings.mat
